html{
  background-color:#FFA69E;
}
h1.repo-name {
  color: #0B032D;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  margin-top: 40px !important;
  margin-bottom: 30px !important;
}

p {
  color: #0B032D;
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

h2 {
  color: #0B032D;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.ui.container{
  width:700px;
}
